---
import Layout from "../layouts/Layout.astro";
import { setupAmplifyServerApi } from "../../utils/amplifyServerUtils";
import { listTodos } from "../../queries";
import { TodoList } from "../components/TodoList.tsx";
import type { ListTodosQuery } from "../../API";
import type { FetchUserAttributesOutput } from "aws-amplify/auth";

const { cookies } = Astro;

let user: FetchUserAttributesOutput | undefined;

let amplifyServerApi: ReturnType<typeof setupAmplifyServerApi> | undefined;

let data: ListTodosQuery | undefined;

const checkUser = async () => {
  try {
    amplifyServerApi = setupAmplifyServerApi(cookies);
    user = await amplifyServerApi.Auth.fetchUserAttributes();

    const listTodosResponse = await amplifyServerApi?.GraphQL.client.graphql({
      query: listTodos,
    });

    data = listTodosResponse.data;
  } catch (error) {
    // If the user is not logged in, redirect them to the login page
    return Astro.redirect("/sign-in/");
  }
};

checkUser();
---

<Layout title="Welcome to Astro.">
  <main>
    <button id="sign-out-button">Sign Out</button>
    <h1>
      Welcome to <span class="text-gradient">Amplify + Astro</span>,
      <br />
      <span class="text-gradient">{user?.email}</span>!
    </h1>

    <TodoList todos={data} client:only="react" />

    <script>
      import { signOut } from "aws-amplify/auth";

      document
        .getElementById("sign-out-button")
        ?.addEventListener("click", async (e) => {
          e.preventDefault();
          await signOut();
          console.log("sign out called");
          window.location.href = "/sign-in/";
        });
    </script>
  </main>

  <style>
    main {
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: 1rem;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
